@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Elms Sans";
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg: #1a1a1a;
  --fg: #9e9e9e;
  --header-bg: rgba(0, 0, 0, 0.4);
  --addTaskBtn: #2696e0;
  --modal-bg: #333333;
  --modal-input-bg: #a6a6a6;
  --content-bg: #474747;
}

body {
  background: var(--bg);
  color: var(--fg);
  min-height: 100vh;
  min-width: 100vw;
}

header {
  background: var(--header-bg);
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#addTaskBtn {
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 8px;
  background: var(--addTaskBtn);
  transition: filter 0.3s ease, transform 0.2s ease;
}

#addTaskBtn:hover {
  filter: brightness(1.1);
  transform: translateY(-3px);
  cursor: pointer;
}

#addTaskBtn:active {
  transform: scale(0.97);
  filter: brightness(0.9);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container.showed {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background: var(--modal-bg);
  width: 400px;
  max-width: 100%;
  padding: 20px;
  min-height: 200px;
  border-radius: 24px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.modal h2 {
  margin-bottom: 30px;
}

.modal .footer {
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
}

.modal .footer button {
  padding: 8px 12px;
  border-radius: 8px;
  transition: filter 0.3s ease, transform 0.2s ease;
}

.modal .footer button:hover {
  filter: brightness(1.1);
  transform: translateY(-3px);
  cursor: pointer;
}

.modal .footer button:active {
  transform: scale(0.97);
  filter: brightness(0.9);
}

.modal .footer button#cancel {
  background-color: #de2f2f;
  color: var(--fg);
  font-weight: 700;
}

.modal .footer button#start {
  background-color: #2a9c24;
  color: var(--fg);
  font-weight: 700;
}

.modal .content input {
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 8px;
  background: var(--modal-input-bg);
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.modal .content input[type="time"] {
  margin-bottom: 40px;
}

.modal .content input[type="text"]:active {
  transform: scale(0.97);
}

.modal .content input[type="text"]:focus {
  transform: scale(1.025);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

main .content {
  background: var(--content-bg);
  padding: 40px;
  border-radius: 40px;
  margin-top: 40px;
  min-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .content span {
  font-size: 5rem;
  font-weight: 600;
}

main .content .stopBtn {
  background: #de2f2f;
  padding: 8px 12px;
  border-radius: 8px;
  transition: filter 0.3s ease, transform 0.2s ease;
}

main .content .stopBtn:hover {
  filter: brightness(1.1);
  transform: translateY(-3px);
  cursor: pointer;
}

main .content .stopBtn:active {
  transform: scale(0.97);
  filter: brightness(0.9);
}
